1. 
Create functions to do the following: max, min, average, standard deviation, and geometric average.

In [ ]:
import numpy as np
import math as m

def theMax(numbers):
  my_max = numbers[0]
  for i in numbers:
    if my_max < i:
      my_max = i
  return my_max

def theMin(numbers):
  my_min = numbers[0]
  for i in numbers:
    if my_min > i:
      my_min = i
  return my_min

def theAverage(numbers):
  total = 0 
  for i in numbers:
    total += i
  return total/len(numbers)

def theGeoMean(numbers):
  total = 1
  for i in numbers:
    total *= i
  return total**(1/len(numbers))

def theStandardDev(numbers):
  theAvg = theAverage(numbers)
  total = 0
  for i in numbers:
    total = total + (i-theAvg)**2
  return m.sqrt(total/(len(numbers)-1))


a = [8,6,2,9,13,3]
print(theMax(a))
print(theGeoMean(a))
print(theStandardDev(a))

13
5.683245170896967
4.070217029430577

2. 
Create a function that asks the user which shape they would like to analyze. It should then call other functions based on this and return the area of the shape.  The triangle function should take in the base and height, the circle function should take in the radius, and the square function should take in the side length.

In [ ]:
def circleArea(radius):
  return m.pi*radius**2

def rectangleArea(length, width):
  return length*width

def squareArea(side):
  return side*side

def triangleArea(base, height):
  return base*height/2

def generalArea():
  value = input("which would like to know the area of [circle, square, rectangle, triangle]")
  if value == 'circle':
    radius = float(input("What's the radius "))
    print(f"The area is {circleArea(radius)}.")
  

generalArea()

which would like to know the area of [circle, square, rectangle, triangle]circle
What's the radius 4
The area is 50.26548245743669.

3. Create a function that takes in a list and returns the list doubled. It should ask the user for option one or two. If the user chooses option one it should return the list doubled such as [1 2 3] becoming [1 2 3 1 2 3], if the user chooses option two then is should return the list such as [1 2 3] becoming [2 4 6].

In [ ]:
def listDoubling():
  x = [1,2,3]
  y = [1,2,3]
  choice = int(input("Would you like it to be doubled by way 1 or way 2?"))
  if choice == 1:
    print(x+y)
  else:
    print(np.array(x) + np.array(y))


listDoubling()

Would you like it to be doubled by way 1 or way 2?2
[2 4 6]

4. Create a function that takes in two lists and concatenates the numbers in those lists. For instance, if we have [1 2 3] and [7 8 9], we should return [17 28 39].

In [ ]:
#create an empty list
def concatPositions(list1, list2):
  myBigList = []
  for i in range(len(list1)):
    myBigList.append(float(str(list1[i])+str(list2[i])))
  return myBigList


list1 = [1,2,3]
list2 = [7,8,9]
bigList = concatPositions(list1,list2)
print(bigList)

[17.0, 28.0, 39.0]

5.Create a function that returns a list of primes up until the number passed in. So if 100 is passed in, it should return all the primes up until 100.

In [ ]:
def isPrime(num):
  for i in range(2,num):
    if (num%i == 0):
      return False
  return True

def listPrimes(amount):
  #an empty list
  myList = []
  count = 0 
  checkVal = 2
  while (count < amount):
    if(isPrime(checkVal)):
      myList.append(checkVal)
      count += 1
    checkVal += 1
  return myList

print(listPrimes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

6.Write a function calculation() such that it can accept two variables and calculate the multiplication and divison of it. And also it must return both results in a single return call

In [ ]:
def calculation(one,two):
  return one*two,one/two

myVal = calculation(9,2)

print(myVal[0])
print(myVal[1])

18
4.5

7.If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
myList = []
for i in range(1000):
  if (i%3 == 0) or (i%5 == 0):
    myList.append(i)

total = 0 
for i in myList:
  total =total + i

print(total)

233168

8.Find the sum of the even valued Fibonacci numbers below 500.

In [ ]:
bound = 500
numOne = 1
numTwo = 1
numThree = numOne + numTwo
total = 0

while numThree < bound:
  numThree = numOne + numTwo
  if numThree%2 == 00 and numThree < bound:
    total += numThree
  numOne = numTwo
  numTwo = numThree

print(total)

188